body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Home Page CSS*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e2e2e2;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 1000;
}

.header h1 {
  font-size: 2em;
  margin: 15;
  margin-left: 45px;
}

.header nav {
  display: flex;
}

nav button {
  margin-left: 20px;
  background-color: #639fc2;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  width: 140px;
  height: 35px;
}

.weekly-planner {
  justify-items: auto;
  align-items: center;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 600px;
  height: 150px;
  margin-top: 180px;
  margin-left: 1400px;

}

.weekly-planner h3 {
  margin-top: 0;
}

.weekly-planner p {
  margin: 0 0 10px 0;
}

.dinner {
  margin-top: 200px;
  text-align: center;
}

.dinner h1 {
  font-size: 2em;
  color: #333;
  margin: 0;
}

.welcome-container {
  margin-top: 20px;
}

.small-image {
  width: 100%;
  margin-top: -200px;
  max-width: 700px;
  margin-left: auto;

}

.about-us {
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
}

.about-us h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-left: 200px;
}

.about-us p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #3dc2a5;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-bottom: 30px;
  margin-left: 750px;
  font-size: 1em;
  cursor: pointer;
  width: 300px;
  height: 40px;
}

.error {
  color: red;
  font-size: 0.875rem;
}

/*Order Page*/
.order-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.order-form-container {
  position: relative;
  display: flex;
  justify-content: center;
}

form {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 25px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
}

form label {
  display: block;
  margin-bottom: 10px;
}


.drinks-image {
  position: fixed; 
  width: 400px;
  max-width: 700px;
  left: 0;
  margin-left: 20px;
  margin-top: -70px; 
  z-index: 1; 
}

.rootbeer-image {
  position: fixed; 
  width: 500px;
  max-width: 800px;
  right: 0;
  margin-right: 1400px; 
  margin-top: 350px; 
  z-index: 1;
}

.margheritapizza-image {
  position: fixed; 
  width: 500px;
  max-width: 800px;
  right: 0;
  margin-right: 55px; 
  margin-top: -80px; 
  z-index: 1; 
}

.salads-image {
  position: fixed;
  width: 500px;
  max-width: 800px;
  right: 0;
  margin-right: 20px; 
  margin-top: -120px; 
  z-index: 1; 
}

/* OrderCart */
.order-cart {
  background-color: #dcdcdc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.oven-image {
  max-width: 800px;
  margin-bottom: 30px;
  margin-top: 250px;
  margin-left: 0px;
}

.order-cart h3 {
  margin: 0;
  font-size: 2.5em;
  color: #333;
  margin-left: 0px;
}

.summary {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;

}

.summary h2 {
  margin-top: 0;
}

.ordersubmit {
  border: none;
  color: rgb(242, 243, 239);
  background-color: #639fc2;
  font-size: 1em;
  width: 200px;
  height: 50px;
  display: block;
  margin: 20px auto 0 auto;
  text-align: center;
  align-items: center;
  margin-left: 0px;
}

/* Menu Page  */

.menu-content {
  position: relative;
  background: repeating-linear-gradient(
    0deg,
    #dcdcdc, 
    #dcdcdc 50px,  
    #fff 50px,  
    #fff 100px  
  );
  min-height: 100vh;
  margin-top: 125px;
  width: 100%;
}

.menu-sectiona,
.menu-sectionb,
.menu-sectionc {
  position: absolute;
  background-color: #87bda6;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-sectiona {
  left: 25px;
  top: 50px;
  width: 400px;
  max-width: 100%;
}

.menu-sectionb {
  left: 930px;
  top: 80px;
  width: 300px;
  max-width: 100%;
}

.menu-sectionc {
  left: 1550px;
  top: 50px;
  width: 200px;
  max-width: 100%;
}

.menu-sectiona h2,
.menu-sectionb h2,
.menu-sectionc h2 {
  margin-top: 0;
}

.menu-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.menu-sectiona ul {
  list-style-type: none;
  padding: 0;
}

.menu-sectiona li {
  margin-bottom: 10px;
}
.menu-content h1 {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-stretch: extra-condensed;
  margin-left: 1000px;
}

.calzone-imageone {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: 485px;
  margin-top: 135px;
}

.house-imagetwo {
  display: flex;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 55px;
  margin-left: 1285px;
  padding: 20px;

}
.pizza-imagethree {
  display: flex;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: 485px;
  margin-top: -355px;
}

/* Pizza Details */
.pizza-details-page {
  position: relative;
  top: 350px;
  width: 80%; 
  max-width: 600px; 
  margin-left: 625px;
  padding: 20px;
  background-color: #fff; 
  text-align: center; 
}

.whole-page-details {
  position: relative;
  min-height: 100vh;
  background: url('C:\Users\daesh\Documents\pizzazbypage\client\src\assets\pizzaz.jpg') no-repeat center center fixed;
  background-size: cover;
}

.pizza-details-page {
  position: relative;
  z-index: 1;
}